.contact
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	background-image: linear-gradient(90deg, hsl(217, 31%, 13%), hsl(209, 32%, 18%), hsl(200, 30%, 33%));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80%;
	overflow-x: hidden;
	overflow-y: auto;
}

.contact__title
{
	align-self: flex-start;
	margin: 3rem 0 2rem 1.5rem;
	font-size: 3rem;
	color: white;
}

.contact__container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact__card
{
	display: flex;
	justify-content: space-around;
	align-self: center;
	width: 80%;
	height: 10rem;
	padding: 1rem;
	margin-top: 2rem;
	border-radius: 2.5rem;
	background-color: hsla(199, 88%, 6%, 0.4);
	color: hsl(209, 52%, 80%);
	text-align: center;
}

.contact__card__icon
{
	color: hsl(209, 52%, 80%);
}

.icon-left
{
	width: 4rem;
	height: 4rem;
	align-self: center;
	padding: 0.8rem;
	border-radius: 25%;
	background-color: hsla(195, 70%, 60%, 0.4);
}

.right
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
}

.contact__card__title
{
	font-size: 1.2rem;
}

.contact__card a
{
	background: none;
}

.icon-right
{
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
	margin-top: 1rem;
}

@media only screen and (min-width: 40rem)
{
	.contact__title
	{
		font-size: 4.5rem;
	}

	.contact__container
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.contact__card
	{
		width: 40%;
	}
}

@media only screen and (min-width: 70rem)
{
	.contact__title
	{
		font-size: 8rem;
	}

	.contact__card
	{
		height: 15rem;
	}

	.icon-left
	{
		width: 5rem;
		height: 5rem;
		align-self: center;
		padding: 1.2rem;
		border-radius: 25%;
		background-color: hsla(195, 70%, 60%, 0.4);
	}

	.right
	{
		flex-direction: row;
		justify-content: center;
		align-items: center;
		justify-content: space-around;
	}

	.contact__card__title
	{
		font-size: 2.5rem;
	}

	.right p
	{
		font-size: 1.5rem;
	}

	.contact__card a
	{
		background: none;
	}

	.icon-right
	{
		width: 4rem;
		height: 4rem;
		margin-right: 1.5rem;
		margin-top: 0;
	}
}
