.link
{
	margin-left: 3rem;
	font-size: 5rem;
	color: hsla(240, 45%, 70%, .7);
	transition: padding 0.75s;
}

.link:hover
{
	padding-left: 1rem;
}

.first-link
{
	color: white;
}

.link-fixed
{
	position: fixed;
	right: 1rem;
	z-index: 1;
	color: white;
	font-size: 2rem;
	font-weight: 700;
}

.link-home
{
	width: max-content;
	color: white;
	font-size: 2rem;
	font-weight: 700;
}

@media only screen and (min-width: 40rem)
{
	.link
	{
		margin-left: 5rem;
		font-size: 8rem;
	}

	.link:hover
	{
		padding-left: 2rem;
	}

	.link-fixed
	{
		right: 3rem;
		font-size: 4rem;
	}

	.link-home
	{
		font-size: 4rem;
	}
}

@media only screen and (min-width: 70rem)
{
	.link
	{
		margin-left: 10rem;
		font-size: 15rem;
	}

	.link:hover
	{
		padding-left: 2rem;
	}

	.link-fixed
	{
		right: 3rem;
		font-size: 5rem;
	}
}
